
@{
    ViewBag.Title = "Deudor";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h2>Usted tiene una deuda pendiente con ServiEnCasa</h2>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h3>Ir al estado de cuenta y cancelar la deuda para volver a utilizar los servicios ofrecidos por ServiEnCasa</h3>
        <div class="alert alert-danger" >
                <a href="@Url.Action("Index", "CuentaCorriente")" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-ok-circle"></span> Ir a Cuenta Corriente </a>
        </div>
    </div>
</div>
