@model SeguridadWebv2.Helpers.StatusMP
@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    string statusClass = "success";
    string statusMessage = "Se aprobo correctamente el pago!";
    switch (Model.Status.Trim().ToLower())
    {
        case "approved":
            statusClass = "success";
            break;
        case "pending":
        case "in-process":
            statusClass = "warning";
            statusMessage = "Su pago está pendiente de aprobación";
            break;
        default:
            statusClass = "danger";
            statusMessage = "Lamentablemente algo salió mal y su pago no fue aprobado. Intente nuevamente!";
            break;
    }
}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h3>Estado del Pago... </h3>
        <div class="alert alert-@statusClass">
            @Html.Raw(statusMessage)
            <br />
            <br />
            <a href="@Url.Action("Inicio", "Home")" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-ok-circle"></span> Ir al Inicio </a>
        </div>
    </div>
</div>