@{
    ViewBag.Title = "ConfirmarEmail";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Gracias por Confirmar el Email. Por favor @Html.ActionLink("Click aqui para Iniciar Sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>


