@{
    ViewBag.Title = "Confirmación Recuperar Clave";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Por favor verifique su email para recuperar su clave.
    </p>
</div>

