@{
    ViewBag.Title = "ResetPasswordConfirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Su clave ah sido modificada correctamente. Por favor @Html.ActionLink("Click aqui para ingresar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
