@model System.Web.Mvc.HandleErrorInfo 

@{
    ViewBag.Title = "Error";
}

<hgroup>
    <h1 class="text-error">Error</h1>
    <h2 class="text-error">Ah ocurrido un error al momento de procesar la consulta.</h2>
</hgroup>
